# .gitignore

# Ignore .env files
.env
.env.*

# Ignore config files in config dir
config/

# Ignore folder hard_memory files - these are just for runtime
hard_memory/
src/hard_memory/

# Ignore logs
logs/
*.log
*.tmp

# Sensitive Files
*.pem
*.key
*.env
*.env.local

# Node modules (example)
node_modules/

# Optional: ignore build output
dist/
build/
__pycache__/
*.pyc
__MACOSX/
.DS_Store
